.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
}

.video__title {
	font-family: Palatino Linotype;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	letter-spacing: 0em;
	text-align: left;
	margin: 0;
}

.video__image {
	width: 100%;
	height: 313px;
	border-radius: 20px;
	opacity: 70%;
	object-fit: cover;
	object-position: top;
}

.video__container {
	width: 100%;
	max-width: 1199px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
}

@media screen and (max-width: 1279px) {
	.video__image {
		height: 305px;
	}
}

@media screen and (max-width: 768px) {
	.video {
		gap: 32px;
	}

	.video__image {
		height: 178px;
	}
}