.swiper {
	position: static;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 8px;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
}

.swiper-pagination-bullet-active {
	background: #FFD670;
}

@media screen and (max-width: 768px) {
	.swiper-slide {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}